.nav{
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    text-align: center;
   
}

.add{
    margin-top: 30px;
}
.viaue{
    margin-top: 50px;
}
.but{
    width: 300px;
    
}
.bt1{
    position: relative;
    left: 60px;
}
.bt2{
    margin-left: 60px;
}